<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Job Search</title>

  <!-- Stylesheets -->
  <link href="https://fonts.googleapis.com/css?family=Raleway:300,400,500,600" rel="stylesheet">
  <link rel="stylesheet" href="css/bootstrap.css">
  <link rel="stylesheet" href="css/font-awesome.min.css">
  <link rel="stylesheet" type="text/css" href="css/jquery.tagsinput.css" />
  <link rel="stylesheet" type="text/css" href="css/owl.carousel.css" />
  <link rel="stylesheet" href="css/styles.css">
  <link rel="stylesheet" href="css/responsive.css">

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

  <!--[if IE 9]>
    <script src="js/media.match.min.js"></script>
    <![endif]-->
</head>

<body>
  <div id="main-wrapper" class="our-agents-content">

    <!-- HEADER -->
    <header id="header">
      <div class="header-top-bar">

        <!--
          HEADER TOP BAR WITH NOTIFICATION FOR REGISTER USER
          -->

        <div class="header-notification-bar" style="display:none;">
          <div class="register-user">

            <div class="container">
              <div class="row">

                <div class="col-md-3 col-sm-3">
                  <div class="logo-section">
                    <a href="index"><img src="img/logo-bu.png" alt=""></a>
                  </div>
                </div>

                <div class="col-md-6 col-sm-5">
                  <div class="search-form">

                    <form action="#">
                      <button class="dropdown-search"><i class="fa fa-angle-down"></i> <i
                          class="fa fa-bars"></i></button>
                      <input type="search" placeholder="Search...">
                      <button class="search-button"><i class="fa fa-search"></i></button>
                    </form>

                  </div>
                </div>

                <div class="col-md-3 col-sm-4">
                  <div class="notification-section text-right">

                    <ul class="list-inline">
                      <li><a href="#"><i class="fa fa-envelope-o"></i></a><span class="new-notification">3</span></li>
                      <li><a href="#"><i class="fa fa-bell-o"></i></a><span class="new-notification">3</span></li>
                      <li class="user-profile-pic"><a href="#"><img src="./img/content/agent-img-1.jpg" alt=""></a></li>
                    </ul>
                  </div>
                </div>

              </div> <!-- end .row -->
            </div> <!-- end .container -->
          </div> <!-- end .register-user -->
        </div> <!-- end. header-notification-bar  -->

        <!--
          END HEADER NOTIFICATION TOP BAR
          -->

        <!--
          HEADER TOP BAR FOR NON REGISTER USER
          -->

        <div class="header-notification-bar">
          <div class="non-register-user">

            <div class="container">
              <div class="row">

                <div class="col-md-3 col-sm-3">
                </div>

                <div class="col-md-6 col-sm-5">
                  <div class="search-form">
                  </div>
                </div>

                <div class="col-md-3 col-sm-4">
                  <div class="notification-section text-right">

                    <ul class="list-inline">
                      <li><a href="#">EN<i class="fa fa-caret-down"></i></a>
                      <li><a href="sign-in">Login</a></li>
                      <li><a href="sign-up">Register</a></li>
                    </ul>
                  </div>
                </div>

              </div> <!-- end .row -->
            </div> <!-- end .container -->
          </div> <!-- end .visitors-top-bar -->
        </div> <!-- end. header-notification-bar  -->


        <!--
          END HEADER TOP BAR FOR WITHOUT LOGIN USER
          -->

        <!-- Navigation -->
        <div class="main-navbar">

          <nav class="navbar navbar-default">
            <div class="container">

              <!-- Brand and toggle get grouped for better mobile display -->
              <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                  data-target="#bs-example-navbar-collapse-1">
                  <span class="sr-only">Toggle navigation</span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                </button>
              </div>

              <!-- Collect the nav links, forms, and other content for toggling -->
              <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                  <li class=""><a href="index">Home</a></li>

                  <li class="dropdown active">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                      aria-expanded="false">Job
                      <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                      <li><a href="job-search">Job Search</a></li>
                      <li><a href="job-preview">Job Preview</a></li>
                    </ul>
                  </li>
                  <li><a href="client-profile">Who are we ?</a></li>
                  <li><a href="contact-us">Contact Us</a></li>

                </ul>

              </div><!-- /.navbar-collapse -->
            </div><!-- /.container -->
          </nav>
        </div> <!-- main-navbar -->
        <!-- end .header-top-bar -->
      </div>
    </header>
    <!-- end #header -->

    <!-- header Search bar -->



    <!-- end .header-banner -->

    <div class="header-page-title job-registration clearfix">
      <div class="title-overlay"></div>
      <div class="container">
        <h1>Job Search</h1>

        <!-- <ol class="breadcrumb">
            <li><a href="#">Home</a></li>
            <li class="active">Job Search</li>
          </ol> -->

      </div> <!-- end .container -->

    </div> <!-- end .header-page-title -->
    <!-- Page Content -->

    <div id="page-content" class="page-content pt60">
      <div class="container">
        <div class="row">
          <div class="col-sm-4 page-sidebar">
            <aside>
              <div class="white-container mb0">
                <div class="widget sidebar-widget jobs-search-widget">
                  <h5 class="widget-title">Search</h5>

                  <div class="widget-content">
                    <span class="search-tex">I'm looking for a ...</span>

                    <select class="form-control mt10 mb10">
                      <option value="0">Internship</option>
                    </select>

                    <span class="search-tex">in</span>

                    <!-- <input type="text" id="searchInput" onkeyup="searchJobs()" class="form-control mt15 mb15" placeholder="Industry / Role">
                     -->

                    <input type="text" id="searchInput" class="form-control mt15 mb15" placeholder="Position">
                    <br>
                    <span class="search-tex">Industry</span>
                    <select id="industry" name="industry" class="form-control mt10 mb10">
                    </select>
                    <br>
                    <span class="search-tex">Work remotely</span>
                    <select id="workRemotely" name="workRemotely"
                      class="form-control mt10 mb10">
                      <option selected value="All">All</option>
                      <option value="Yes">Yes</option>
                      <option value="No">No</option>
                    </select>

                    <br>
                    <span class="search-tex">Paid</span>
                    <select id="paid" name="paid" class="form-control mt10 mb10">
                      <option selected value="All">All</option>
                      <option value="Yes">Yes</option>
                      <option value="No">No</option>
                    </select>
                    <input type="submit" class="btn btn-default" id='search_filter' onclick="filterElements()"
                      value="Filter">
                  </div>
                </div>
              </div>
            </aside>
          </div> <!-- end .page-sidebar -->

          <div class="col-sm-8 page-content">
            <!-- <div id="jobs-page-map" class="white-container"></div> -->



            <div class="view-sort clearfix mb20">
              <div class="row">

                <div class="col-sm-5 main-title">
                  <h3 class="client-registration-title">Available jobs</h3>
                </div>

                <div class="col-sm-7">

                </div> <!-- end .end col-sm-5 grid-layout  -->
              </div> <!-- end .row -->
            </div> <!-- end .view-sort div -->
            <div style="display: none;" id="no-results"></div>
            <div id="main">
            </div>
          </div>
          <!-- end .page-content -->
        </div>
      </div> <!-- end .container -->
    </div> <!-- end #page-content -->

    <!-- Footer Start -->
    <footer id="footer">
      <div class="copyright">
        <div class="container">
          <p>2021 &copy; All rights reserved. Powered by <a href="#">Hexaware</a></p>
          <ul class="list-inline">
            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
            <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
            <li><a href="#"><i class="fa fa-youtube"></i></a></li>
          </ul>
        </div>
      </div>
    </footer>
    <!-- end #footer -->

  </div>
  <!-- end #main-wrapper -->

  <!-- Scripts -->
  <script src="js/jquery-3.1.1.min.js"></script>
  <script
    src="http://maps.google.com/maps/api/js?key=AIzaSyD0QI6vd531_4xsTobCg_J1_6BZOEolRbs&sensor=false&libraries=geometry&v=3.7"></script>
  <script src="js/maplace.min.js"></script>
  <script src="js/bootstrap.js"></script>
  <script src="js/jquery.ba-outside-events.min.js"></script>
  <script src="js/jquery.responsive-tabs.js"></script>
  <script src="js/jquery.flexslider-min.js"></script>
  <script src="js/jquery.fitvids.js"></script>
  <script src="js/jquery-ui-1.10.4.custom.min.js"></script>
  <script src="js/jquery.inview.min.js"></script>

  <script src="js/jquery-ui-1.10.4.custom.min.js"></script>
  <script src="js/scripts.js"></script>
  <script src="js/config.js"></script>
  <script src="js/job-list.js"></script>
</body>

</html>